<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Віртуальна виробнича лінія | Інструменти</title>
    <link rel="stylesheet" href="../static/styles/add_task_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="nav-container">
        <a href="main_admin.html"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
        <a href="main_admin.html" class="tab-link">На головну</a>
    </div>
    <div class="account-info">
        <p>Адміністратор</p>
        <img src="../static/icons/account.png" alt="Адміністратор">
    </div>
</header>

<input type="text" placeholder="Пошук виробу..." class="search-input" id="search-input">


<div class="products-list" id="products-list">
    <button class="product-line" onclick="location.href='placeholder1.html'">
        <div class="product-info">
            <p>Виріб 1</p>
        </div>
    </button>

    <button class="product-line" onclick="location.href='placeholder2.html'">
        <div class="product-info">
            <p>Виріб 2</p>
        </div>
    </button>
</div>

</body>
</html>
