<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Віртуальна виробнича лінія | Інструменти</title>
    <link rel="stylesheet" href="../static/styles/add_task_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="nav-container">
        <a href="{{ url_for('home') }}"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
        <a href="{{ url_for('home') }}" class="tab-link">На головну</a>
    </div>
    <div class="account-info">
        <p>Адміністратор</p>
        <img src="../static/icons/account.png" alt="Адміністратор">
    </div>
</header>

<input type="text" placeholder="Пошук виробу..." class="search-input" id="search-input">


<div class="products-list" id="products-list">
    {% for p in products %}
      <button class="product-line" onclick="createAdminTask({{ p.id }})">
        <div class="product-info">
          <p>{{ p.name }}</p>
        </div>
      </button>
    {% endfor %}
</div>

<script>
  function createAdminTask(productId) {
    fetch('{{ url_for("create_admin_task") }}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ product_id: productId })
    })
    .then(response => response.json())
    .then(data => {
      if(data.admin_task_id){
        window.location.href = '{{ url_for("add_task") }}?admin_task_id=' + data.admin_task_id;
      } else if(data.error){
        alert('Error: ' + data.error);
      }
    })
    .catch(error => alert('Fetch error: ' + error));
  }
</script>
</body>
</html>
