<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>ALARM</title>
  <link rel="stylesheet" href="../static/styles/alarm_styles.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="nav-container">
    <a href="main_for_user.html"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
    <a href="main_for_user.html" class="tab-link">На головну</a>
  </div>
  <div class="account-info">
    <p>Гуменюк Владислав</p>
    <img src="../static/icons/account.png" alt="Користувач">
  </div>
</header>
<div class="container">
  <div class="content">
    <p class="name-of-task">Завдання 1</p>
    <label for="operationName">Опишіть вашу проблему:</label>
    <input type="text" id="operationName" placeholder="Опишіть проблему детальніше...">
  </div>
  <button class="submit-button">ПОВІДОМИТИ</button>
</div>




</body>
</html>
