<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>ALARM</title>
  <link rel="stylesheet" href="../static/styles/alarm_styles.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="nav-container">
    <a href="{{ url_for('home_for_employee') }}"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
    <a href="{{ url_for('home_for_employee') }}" class="tab-link">На головну</a>
  </div>
  <div class="account-info">
    <p>{{ name }}</p>
    <img src="../static/icons/account.png" alt="Користувач">
  </div>
</header>

{% if alarm %}
  <div class="container">
    <div class="content">
      <p class="name-of-task">Завдання 1</p>
      <label>Опис проблеми:</label>
      <p class="alarm-text">{{ alarm }}</p>
    </div>
  </div>
{% else %}
  <form action="{{ url_for('submit_alarm', task_id=task_id) }}" method="POST">
    <div class="container">
      <div class="content">
        <p class="name-of-task">Завдання 1</p>
        <label for="operationName">Опишіть вашу проблему:</label>
        <input type="text" id="operationName" name="operationName" placeholder="Опишіть проблему детальніше...">
      </div>
      <button type="submit" class="submit-button">ПОВІДОМИТИ</button>
    </div>
  </form>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io();

    // Слухаємо подію, що тривога знята
    socket.on('alarm_cleared', function(data) {
        // Перевіряємо чи ця тривога стосується нас
        if (data.alarm_id == '{{ alarm_id }}') {
            window.location.href = "{{ url_for('home_for_employee') }}";
        }
    });
</script>

</body>
</html>
