<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>ALARM</title>
    <link rel="stylesheet" href="../static/styles/alarm_for_admin_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="nav-container">
        <a href="main_admin.html"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
        <a href="main_admin.html" class="tab-link">На головну</a>
    </div>
    <div class="account-info">
        <p>{{name}}</p>
        <img src="../static/icons/account.png" alt="Користувач">
    </div>
</header>
<div class="container">
    <div class="content">
        <p class="info-text">{{operation}}</p>
        <p class="info-text">Виконавець: {{ responsible }}</p>
        <p class="info-text">Локація: {{ location }}</p>
        <p class="info-text">Опис проблеми: {{ alarm }}</p>


    </div>
    <a href="{{ url_for('delete_alarm', task_id=task_id) }}">
        <button class="submit-button" type="button">ЗНЯТИ ALARM</button>
    </a>



</div>











</body>
</html>
