<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Віртуальна виробнича лінія | Інструменти</title>
    <link rel="stylesheet" href="../static/styles/edit_products_list_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="nav-container">
        <a href="main_admin.html"><img src="../static/icons/home.png" alt="На головну" class="tab-link-icon"></a>
        <a href="main_admin.html" class="tab-link">На головну</a>
    </div>
    <div class="account-info">
        <p>Адміністратор</p>
        <img src="../static/icons/account.png" alt="Адміністратор">
    </div>
</header>

<div class="search-add-wrapper">
    <input type="text" placeholder="Пошук виробу..." class="search-input" id="search-input">

    <div class="btn-container">
        <a href="#" class="add-product-btn">
            <img src="../static/icons/plus.png" alt="" class="add-product-icon">
            <span class="add-product-text">Додати&nbsp;виріб </span>
        </a>
    </div>
</div>


<div class="products-list" id="products-list">
    <div class="product-line">
        <div class="product-info">
            <p>Виріб 1</p>
        </div>
        <div class="operations">
            <a href="#" class="edit-product-btn"><img src="../static/icons/edit.png" alt="Редагувати" class="tab-link-icon"></a>
            <button class="delete-product-btn">
                <img src="../static/icons/delete.png" alt="Видалити" class="tab-link-icon">
            </button>
        </div>
    </div>

    <div class="product-line">
        <div class="product-info">
            <p>Виріб 2</p>
        </div>
        <div class="operations">
            <a href="#" class="edit-product-btn"><img src="../static/icons/edit.png" alt="Редагувати" class="tab-link-icon"></a>
            <button class="delete-product-btn">
                <img src="../static/icons/delete.png" alt="Видалити" class="tab-link-icon">
            </button>
        </div>
    </div>
</div>


<script>

    document.querySelectorAll('.delete-product-btn').forEach(btn => {
        btn.addEventListener('click', function (event) {
            if (confirm("Видалити виріб із системи?")) {
                btn.closest('.product-line').remove();
            }
        });
    });

    const searchInput = document.getElementById('search-input');
    const productLines = document.querySelectorAll('.product-line');

    searchInput.addEventListener('input', function () {
        const searchText = this.value.toLowerCase();

        productLines.forEach(line => {
            const name = line.querySelector('.product-info p').textContent.toLowerCase();
            if (name.includes(searchText)) {
                line.style.display = 'flex';
            } else {
                line.style.display = 'none';
            }
        });
    });

</script>

</body>
</html>
