<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Віртуальна виробнича лінія | Головна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_admin_styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
  <script defer>
    function toggleMenu() {
      const sidebar = document.querySelector('.sidebar');
      const content = document.querySelector('.main-content');
      sidebar.classList.toggle('collapsed');
      content.classList.toggle('expanded');
    }
  </script>
</head>
<body>

<header>
  <div class="nav-container">
    <button class="burger" onclick="toggleMenu()">&#9776;</button>
    <h1>Віртуальна виробнича лінія</h1>
  </div>
  <div class="account-info">
    <p>{{name}}</p>
    <img src="../static/icons/account.png" alt="Адміністратор">
  </div>
</header>

<div class="container">
  <nav class="sidebar">
    <ul>
      <li>
        <a href="{{url_for('edit_products_list')}}">
          <img src="../static/icons/plus.png" alt="Вироби">
          <span>Редагувати список виробів</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('edit_materials_list') }}">
          <img src="../static/icons/materials.png" alt="Матеріали">
          <span>Редагувати список матеріалів</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('edit_tools_list') }}">
          <img src="../static/icons/tools.png" alt="Інструменти">
          <span>Редагувати список інструментів</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('edit_locations_list') }}">
          <img src="../static/icons/locations.png" alt="Локації">
          <span>Редагувати список локацій</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('employees') }}">
          <img src="../static/icons/employee.png" alt="Працівники">
          <span>Редагувати список працівників</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main-content">
  <a href="{{ url_for('alarm_list_admin') }}" style="text-decoration: none; color: inherit;">
    <div id="alarm-block" class="head-of-container-alarm" style="display: none;">
        <p>Alarm</p>
    </div>
    </a>
    <div class="tasks-container">
      <div class="head-of-container">
        <p>Активні завдання</p>
      </div>
      <div class="tasks-list">
          {% for td in task_data %}
            <div class="task-line">
              <div class="task-left">
                  <div class="task-status">

                    </div>
                <div class="task-info">
                  <p>{{ td.product_name }}</p>
                </div>
              </div>

                <div class="more-info-btns">
                    <div class="more-info-btn">
                <a href="{{ url_for('task_status', admin_task_id=td.task_id, product_id=td.product_id) }}" class="more-info">
                  <span class="more-info-text">Детальніше</span>
                </a>
              </div>
              <div class="more-info-btn">
                <a href="{{ url_for('add_task', admin_task_id=td.task_id, product_id=td.product_id) }}" class="more-info">
                  <span class="more-info-text">Редагувати</span>
                </a>
              </div>
              <div class="more-info-btn">
                <form class="more-info" action="{{ url_for('delete_admin_task', task_id=td.task_id) }}" method="post" onsubmit="return confirm('Ви впевнені, що хочете видалити це завдання?')">
                  <button class="more-info-text" type="submit">Видалити</button>
                </form>
              </div>
                </div>

            </div>
          {% endfor %}





      </div>

      <div class="btn-container">
        <a href="{{ url_for('task_product_list') }}" class="add-task-btn">
          <span class="add-task-text">Додати</span>
        </a>
      </div>

    </div>

  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io();

    // Опитування кожні 5 секунд
    setInterval(function(){
        socket.emit('check_alarm');
    }, 5000);

    socket.on('alarm_status', function(data){
        if(data.alarm){
            document.getElementById('alarm-block').style.display = 'block';
        } else {
            document.getElementById('alarm-block').style.display = 'none';
        }
    });
</script>
</body>
</html>
