<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Віртуальна виробнича лінія | Інструменти</title>
  <link rel="stylesheet" href="../static/styles/main_for_user.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="nav-container">
    <h1>Віртуальна виробнича лінія</h1>
  </div>
  <div class="account-info">
    <p>Гуменюк Владислав</p>
    <img src="../static/icons/account.png" alt="Адміністратор">
  </div>
</header>

<div class="products-list" id="products-list">
  <button class="product-line" onclick="location.href='placeholder1.html'">
    <div class="product-info">
      <p>Завдання 1</p>
    </div>
  </button>

  <button class="product-line" onclick="location.href='placeholder1.html'">
    <div class="product-info">
      <p>Завдання 2</p>
    </div>
  </button>

</div>




</body>
</html>
